<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-blue-50">

  <section class="max-w-7xl mx-auto px-6 py-20">

    <img src="../assets/Ellipse/circle-ellipse.png" class="absolute top-[80px] left-[315px] size-20" />

    <div class="text-center mb-14">
      <h2 class="text-3xl font-bold">
        Featured <span class="text-blue-600">Courses</span>
      </h2>
      <p class="uppercase text-sm tracking-widest text-gray-500 mt-2">
        The feature courses we invented for our teaching part
      </p>
    </div>

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">

      <div class="bg-white rounded-xl shadow-lg hover:shadow-xl transition overflow-hidden">
        <img src="../assets/location-img.jpeg" alt="Course Image" class="w-full h-56 object-cover" />
        <div class="p-5">
          <div class="flex justify-between text-gray-400 text-sm">
            <span>1,957 Students</span>
            <span>01h 59m</span>
          </div>
          <h3 class="font-semibold mt-2 text-lg">
            Motion Graphics: Create a Nice Typography Animation
          </h3>
          <div class="flex justify-between items-center mt-4">
            <span class="font-bold">Rs.499</span>
            <button class="text-blue-600 text-xl"> <img src="../assets/icons/cart-icon.png" class="w-5 h-5" /></button>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-xl shadow-lg hover:shadow-xl transition overflow-hidden">
        <img src="../assets/puzzle-img.jpeg" alt="Course Image" class="w-full h-56 object-cover" />
        <div class="p-5">
          <div class="flex justify-between text-gray-400 text-sm">
            <span>9,575 Students</span>
            <span>01h 59m</span>
          </div>
          <h3 class="font-semibold mt-2 text-lg">
            Advance PHP knowledge with JS to make smart web
          </h3>
          <div class="flex justify-between items-center mt-4">
            <span class="font-bold">Rs.499</span>
            <button class="text-blue-600 text-xl"> <img src="../assets/icons/cart-icon.png" class="w-5 h-5" /></button>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-xl shadow-lg hover:shadow-xl transition overflow-hidden">
        <img src="../assets/rocket-img.jpeg" alt="Course Image" class="w-full h-56 object-cover" />
        <div class="p-5">
          <div class="flex justify-between text-gray-400 text-sm">
            <span>2,957 Students</span>
            <span>02h 49m</span>
          </div>
          <h3 class="font-semibold mt-2 text-lg">
            Education Software and PHP and JS System Script
          </h3>
          <div class="flex justify-between items-center mt-4">
            <span class="font-bold">Rs.499</span>
            <button class="text-blue-600 text-xl"> <img src="../assets/icons/cart-icon.png" class="w-5 h-5" /></button>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-xl shadow-lg hover:shadow-xl transition overflow-hidden">
        <img src="../assets/coin-img.jpeg" alt="Course Image" class="w-full h-56 object-cover" />
        <div class="p-5">
          <div class="flex justify-between text-gray-400 text-sm">
            <span>5,457 Students</span>
            <span>01h 49m</span>
          </div>
          <h3 class="font-semibold mt-2 text-lg">
            The Complete Financial Analyst Training & Investing
          </h3>
          <div class="flex justify-between items-center mt-4">
            <span class="font-bold">Rs.499</span>
            <button class="text-blue-600 text-xl"> <img src="../assets/icons/cart-icon.png" class="w-5 h-5" /></button>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-xl shadow-lg hover:shadow-xl transition overflow-hidden">
        <img src="../assets/plane-img.jpeg" alt="Course Image" class="w-full h-56 object-cover" />
        <div class="p-5">
          <div class="flex justify-between text-gray-400 text-sm">
            <span>595 Students</span>
            <span>01h 49m</span>
          </div>
          <h3 class="font-semibold mt-2 text-lg">
            Marketing 2023: Complete Guide To Instagram Growth
          </h3>
          <div class="flex justify-between items-center mt-4">
            <span class="font-bold">Rs.499</span>
            <button class="text-blue-600 text-xl"> <img src="../assets/icons/cart-icon.png" class="w-5 h-5" /></button>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-xl shadow-lg hover:shadow-xl transition overflow-hidden">
        <img src="../assets/bank-img.jpeg" alt="Course Image" class="w-full h-56 object-cover" />
        <div class="p-5">
          <div class="flex justify-between text-gray-400 text-sm">
            <span>458 Students</span>
            <span>03h 00m</span>
          </div>
          <h3 class="font-semibold mt-2 text-lg">
            Learn 3D Modelling and Design for Beginners
          </h3>
          <div class="flex justify-between items-center mt-4">
            <span class="font-bold">Rs.499</span>
            <button class="text-blue-600 text-xl">
              <img src="../assets/icons/cart-icon.png" class="w-5 h-5" />
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="text-center mt-12">
      <button
        class="w-48 h-14 bg-gradient-to-r from-blue-900 to-violet-500 text-white rounded-[10px] hover:opacity-90 transition">
        Explore courses
      </button>
    </div>

  </section>

</body>

</html>